# Other versions of documentation

The MUSE2 documentation for different releases is available below.

- [Current development version](index.html)
{%- for release in releases %}
- [{{ release }}](release/{{ release }}/index.html)
{%- endfor %}
