# Previous versions of documentation

Previous versions of the MUSE2 documentation are available below.
{% for release in releases %}
- [{{ release }}](release/{{ release }}/index.html)
{%- endfor %}
